.todo-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.todo-input {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 60%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #069d8e;
  color: rgb(216, 16, 169);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 10px;
  margin: 5px auto;
  width: 60%;
  background-color: #058185;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}
